@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900);

html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	font-family: 'Catamaran !important';
	background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
	background-repeat: no repeat;
	background-size: cover;
	background-position: center center;
	color: #fff;
	text-align: center;
	letter-spacing: 1.4px;
}

.container {
	height: 50%;
}
input {
	/* width: 100%; */
	margin-bottom: 10px;
	color: black;
	float: left;
}

option {
	font-weight: bold;
}
.btn-custom {
	background-color: #ee0979;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 50em;
}
.form-input {
	margin-bottom: 3%;
}

.form-text {
	font-size: medium !important;
	/* display: inline-block; */
	color: white;
	float: right;
	font-weight: bold;
}

/* .input-text {
	float: left;
} */

.form-button {
	width: 100%;
	background-color: #f5cb62;
	color: white;
	font-weight: bold;
	border: none;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	float: left;
}
